<div class="row">
  <div class="col-md-6 mx-auto mt-2">
    <div class="card">
      <div class="card-header">
        List des Catégories
      </div>
      <div class="card-body">
        <div class="form-group mt-1">
          <form>
            <div class="form-group">
              <label>Nom de catégorie :</label>
              <input [(ngModel)]='nameCategory' class="form-control" width="50%" type="text" name="nameCategory"
                     placeholder="Nom de la categégorie"/>
            </div>
            <div class="form-group">
              <label>Image :</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                </div>
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile01" accept="image/*"
                         (change)="selectFile($event)" aria-describedby="inputGroupFileAddon01">
                  <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
              </div>
            </div>
            <button (click)="addNewCategory()" [disabled]="!selectedFiles" class="btn btn-primary btn-block mt-1">
              Ajouter nouvelle catégorie
            </button>
          </form>


          <div *ngIf="currentFile" class="progress">
            <div
              class="progress-bar progress-bar-info progress-bar-striped"
              role="progressbar"
              attr.aria-valuenow="{{ progress }}"
              aria-valuemin="0"
              aria-valuemax="100"
              [ngStyle]="{ width: progress + '%' }"
            >
              {{ progress }}%
            </div>
          </div>
          <div *ngIf="message" class="alert alert-success" role="alert">{{ message }}</div>
        </div>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name category</th>
            <th scope="col">Image</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let category of categories">
            <td>{{category.idCategory}}</td>
            <td>{{category.name}}</td>
            <td><img width="50" src="http://localhost:8080/api/files/{{category.image}}"></td>
            <td>
              <button (click)="viewCategoryDetails(category.idCategory)" class="btn btn-primary mr-1">
                <i class="fas fa-eye"></i>
              </button>

              <button (click)="openModal(template, category.idCategory)" class="btn btn-danger mr-1">
                <i class="fas fa-trash"></i>
              </button>

              <button (click)="editCategory(category.idCategory)" class="btn btn-success mr-1">
                <i class="fas fa-edit"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6 mx-auto mt-2 ">
    <app-category-detail *ngIf="productDetails" [categoryId]="categoryId"></app-category-detail>
    <app-category-edit *ngIf="productEdit" (eventClick)="reloadDataEdit($event)"
                       [categoryId]="categoryId"></app-category-edit>
  </div>

</div>

<!-- ################################# -->
<!-- ** Delete category confirmation **-->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <p>Voulez vous vraiment supprimer cette categorie ? </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default border-info" (click)=" modalRef.hide()" >Non</button>
    <button type="button" class="btn btn-primary" (click)="deleteCategory(this.ModalIdCategory); modalRef.hide()">Oui</button>
  </div>
</ng-template>
