<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="form-group mt-1">
      <label>Nom de catégorie</label>
      <input [(ngModel)]='nameCategory' class="form-control" width="50%" type="text" name="nameCategory"
             placeholder="Nom de la categégorie"/>
      <label class="btn btn-default">
        <input type="file" accept="image/*" (change)="selectFile($event)"/>
      </label>
      <button (click)="addNewCategory()" [disabled]="!selectedFiles" class="btn btn-primary btn-block mt-1">Ajouter
        nouvelle catégorie
      </button>
      <div *ngIf="currentFile" class="progress">
        <div
          class="progress-bar progress-bar-info progress-bar-striped"
          role="progressbar"
          attr.aria-valuenow="{{ progress }}"
          aria-valuemin="0"
          aria-valuemax="100"
          [ngStyle]="{ width: progress + '%' }"
        >
          {{ progress }}%
        </div>
      </div>
      <div  *ngIf="message" class="alert alert-success" role="alert" >{{ message }}</div>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name category</th>
        <th scope="col">Image</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let category of categories">
        <td>{{category.idCategory}}</td>
        <td>{{category.name}}</td>
        <td><img width="50" src="http://localhost:8080/api/files/{{category.image}}"></td>
        <td><button (click)="viewCategoryDetails(category.idCategory)" class="btn btn-primary mr-1">
          <i class="fas fa-eye"></i>
        </button>

          <button (click)="deleteCategory(category.idCategory)" class="btn btn-danger mr-1">
            <i class="fas fa-trash"></i>
          </button>

          <button (click)="editCategory(category.idCategory)" class="btn btn-success mr-1">
            <i class="fas fa-edit"></i>
          </button></td>
      </tr>
      </tbody>
    </table>
     </div>
  <div class="col-md-6 ">
    <app-category-detail *ngIf="productDetails" [categoryId]="categoryId"></app-category-detail>
    <app-category-edit *ngIf="productEdit" [categoryId]="categoryId"></app-category-edit>
  </div>

</div>
